apiVersion: v1

kind: Pod

metadata:
  name: mongodb
  labels:
    app: mongodb

spec:
  containers:
    - containerName: mongodb
      image: mongodb:7.0
      port: 27017
      env:
        - name: MONGO_INITDB_DATABASE
          value: "contactsdb"